@font-face {
  font-family: "Helvetica";
   src: url("assets/fonts/helvetica_regular.otf");
}

@font-face {
  font-family: "New Bodoni";
   src: url("assets/fonts/newbodoni-italic.ttf");
}

html {
  scroll-behavior: smooth; 
}

.nav ul{
  padding: 0em;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-link {
  position: relative;
  padding: 0 30px;
  text-decoration: none;
  font-size: 100%;
  font-weight: 300;
  line-height: 2rem;
  font-family: "New Bodoni";
  color: #F2F2F2; 
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 155%;
  color: #313131;
  background: radial-gradient(83.99% 56.75% at 112.81% 41.02%, #F87D36 0%, #FF9142 13.44%, #313131 80.19%);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 20rem; 
  margin-right: 20rem;
  margin-bottom: 2rem;
  padding: 1.5rem 2.5rem;
  background: #F2F2F2;
  backdrop-filter: blur(70px);
  border-radius: 10px;
}

.flex-item {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
}

.flex-item img {
  height: auto;
  width: 100%;
}

h1 {
  font-size: 322%;
  font-weight: 200;
  line-height: 0.8em;
  margin-top: 0%;
  margin-bottom: 10%;
}

h1 .name {
 font-family: "New Bodoni";
 font-weight: 300;
 font-size: 106%;
 color: #F87D36;
 padding-bottom: 0%;
 margin-bottom: 0%;
}

.summary {
  font-size: 125%;
  padding-top: 0%;
  margin-top: 0%;
}

.profession {
  font-family: "New Bodoni";
  font-size: 34px;
  color:#F87D36;
}

.block-container {
  margin-left: 20rem; 
  margin-right: 20rem;
  margin-bottom: 2rem;
  padding: 1.5rem 3rem;
  background: #F2F2F2;
  backdrop-filter: blur(70px);
  border-radius: 10px;
}

.block-item {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.block-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 2em;
  border-radius: 42px;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 242%;
  font-weight: 200;
  line-height: 0.8em;
  margin-top: 3%;
  margin-bottom: 0%;
}

table {
  width: 100%;
  margin: 1.5rem 0rem;
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid #313131;
  padding: 0.8em 0.5em;
}

.date {
  font-family: "New Bodoni";
}

.course-name {
  font-family: "New Bodoni";
  color: #5b5b5b;
  font-size: 80%;
  margin: 0.2em 0em;
}

tr:hover td {
  background-color: #FF9142;
}

.skills-list {
  list-style: none;
  padding: 0%;
}

.contacts-container {
  margin-left: 20rem; 
  margin-right: 20rem;
  margin-bottom: 2rem;
  padding: 1.5rem 3rem;
  background: linear-gradient(109.91deg, #F87D36 35.48%, #FFDDC5 113.2%);
  backdrop-filter: blur(70px);
  border-radius: 10px;
  color: #F2F2F2;
}

.contacts-list {
  list-style: none;
  padding: 0.1em;
  margin: 1.1em 0em;
}

.contacts-link {
  text-decoration: none;
  color: #F2F2F2;
  width: 50%;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.footer-item {
  position: relative;
  padding: 0 30px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 300;
  line-height: 50px;
  font-family: Helvetica, sans-serif;
  color: white; 
}

.footer-link img {
  height: 60px;
  width: auto;
}

